.events-container {
  position: relative;
  padding-left: 50%;
}

.time-line {
  position: relative;
}

.time-line .time-bar {
  position: relative;
  width: 2px;
  background: black;
  display: inline-block;
}

.time-line .time-text {
  position: absolute;
  left: 10px;
  top: -5px;
  font-size: 17px;
  line-height: 45px;
  letter-spacing: 0.8px;
}

/* .time-line .time-bar::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #8c8c8c;
  left: -4px;
  top: 0px;
} */

.time-line .time-text .year {
  opacity: 0.6;
  display: inline-block;
}

.time-line .time-text .name {
  opacity: 1;
  display: inline-block;
  margin-left: 10px;
}

.time-line .time-text .name * {
  display: inline-block;
}

.time-line .time-text .name .firstletter {
  display: inline-block;
  font-size: 25px;
}

.time-line .time-text .subcontent {
  margin-left: 38px;
}

.poet-text {
  position: absolute;
  left: 36%;
  font-size: 17px;
  line-height: 45px;
  letter-spacing: 0.8px;
}

.poet-text .poet-name {
  opacity: 1;
  display: inline-block;
  margin-right: 10px;
}

.poet-text .poet-year {
  opacity: 0.6;
  display: inline-block;
}
